footer{
  margin-top: 100px;
  background: #282828;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
}

footer a{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in;
}

footer a:hover{
  color: #efefef;
  transition: all 0.3s ease-out;
}

li{
  list-style: none;
  font-size: 12px;
}

footer .row > div{
  border-right: 1px solid #fff;
  padding-left: 25px;
}
