<footer>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <ul>
        <li><a href="#">Proche de Paris</a></li>
        <li><a href="#">Week end Insolite en Bretagne</a></li>
        <li><a href="#">Week end Insolite en Auvergne-Rhône-Alpes</a></li>
        <li><a href="#">Week end Insolite en Bourgogne-Franche-Comté</a></li>
        <li><a href="#">Week end Insolite en Centre-Val de Loire</a></li>
        <li><a href="#">Week end Insolite en Corse</a></li>
        <li><a href="#">Week end Insolite dans le Grand Est</a></li>
        <li><a href="#">Week end Insolite dans les Hauts-de-France</a></li>
        <li><a href="#">Week end Insolite en Normandie</a></li>
        <li><a href="#">Week end Insolite en Nouvelle-Aquitaine</a></li>
        <li><a href="#">Week end Insolite en Occitanie</a></li>
        <li><a href="#">Week end Insolite en Pays de la Loire</a></li>
        <li><a href="#">Week end Insolite en Provence-Alpes-Côte d'Azur</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-12">
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="/register">S'incrire</a></li>
        <li><a href="#">S'inscrire à la Newsletter</a></li>
      </ul>
    </div>
    <div class="col-lg-4 col-sm-12">
      <ul>
        <li><a routerLink="/cgu">CGU/CGV</a></li>
      </ul>
    </div>
  </div>
</footer>
